/* for widgets in the main body and a 'add a widget' button */

.main__cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
}

.main__add-widget-btn {
    background-color: #3e779b;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 20px;
    cursor: pointer;
}

.card {
    background-color: #d4e6f7;
    background-image: linear-gradient(#d4e6f7, #ffffff);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    transform: translateZ(0);
}

.card:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

@media only screen and (min-width: 751px) {
    .main__cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-rows: auto;
    }
    .card {
        break-inside: avoid-column;
        overflow: hidden;
        transform: translateZ(0);
    }
    .main {
        margin-left: 150px;
    }
}

@media only screen and (min-width: 1080px) {
    .main__cards {
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        grid-template-rows: auto;
        grid-gap: 20px;
        grid-template-areas: "column-1 column-2 column-3";
    }
    #column-1 {
        grid-area: column-1;
    }
    #column-2 {
        grid-area: column-2;
    }
    #column-3 {
        grid-area: column-3;
    }
    .column-1,
    .column-2,
    .column-3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .card {
        break-inside: avoid-column;
        overflow: hidden;
        transform: translateZ(0);
    }
}