<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Widget Form</title>
</head>

<body>

    <form action="" id="widget-form">
        <div class="container">
            <h2>Add/Edit a widget</h2>
            <p>Please fill in this form to add/edit a widget.</p>
            <fieldset id="fields">
                <label for="title"><b>Title</b></label><br>
                <input id="title" type="text" pattern="[A-Za-z _]+" maxlength="35" title="Only letters allowed." placeholder="Enter Title" name="title" required><br>

                <label for="column-number"><b>Column number</b></label><br>
                <input id="column-number" type="number" min="1" max="3" pattern="[0-9]" title="Only numbers allowed." placeholder="Enter Column Number" required><br>

                <label for="types"><b>Type</b></label><br>
                <select id="types" name="types" size="1" required>
                    <option name="userList" value="1" selected="selected">userList</option>
                    <option name="messages" value="2">messages</option>
              </select><br>

                <label for="header-types"><b>Header type</b></label><br>
                <select id="header-types" name="header-types" size="1" required>
                    <option name="light" value="1" selected="selected">light</option>
                    <option name="dark" value="2">dark</option>
                </select><br>

                <label for="text-area"><b>Data input</b></label><br>
                <textarea id="text-area" cols=50 rows=10 placeholder="Enter data in JSON format" required></textarea>
            </fieldset>


            <button class="add-widget-btn form-btn" type="submit">Save</button>
            <button class="delete-widget-btn form-btn" id="delete-btn">Delete</button>

        </div>
    </form>
</body>

</html>