<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Widget Form</title>
</head>

<body>

    <form [formGroup]="widgetForm" (ngSubmit)="onSubmit()" id="widget-form">

        <div class="container">
            <h2>Add/Edit a widget</h2>
            <p>Please fill in this form to add/edit a widget.</p>
            <fieldset id="fields">

                <label>
          Title:
          <input id="title" type="text" formControlName="title" pattern="[A-Za-z _]+" maxlength="35"
           title="Only letters allowed." placeholder="Enter Title" name="title" required>
        </label>

                <label>
            Column number:
          <input id="column-number" formControlName="column" type="number" min="1" max="3" pattern="[0-9]"
           title="Only numbers allowed." placeholder="Enter Column Number" required>
        </label>

                <label>
            Type:
            <select id="types" formControlName="type" name="types" size="1" required>
                <option value="" disabled>Choose your widget type...</option>
                <option name="userList" value="1" selected="selected">userList</option>
                <option name="messages" value="2">messages</option>
          </select>
        </label>

                <label>
            Header type:
            <select id="header-types" formControlName="headerType" name="header-types" size="1" required>
                <option value="" disabled>Choose your header type...</option>
                <option name="light" value="1" selected="selected">light</option>
                <option name="dark" value="2">dark</option>
            </select>
        </label>

                <label>
            Data input:
            <textarea id="text-area" formControlName="data" cols=50 rows=10
             placeholder="Enter data in JSON format" required></textarea>
        </label>
            </fieldset>
            <button type="submit" class="add-widget-btn form-btn" [disabled]="!widgetForm.valid">Submit</button>
            <button type="button" class="delete-widget-btn form-btn" id="delete-btn" (click)="onDelete()" *ngIf="this.isButtonVisible">Delete</button>
        </div>
    </form>
</body>

</html>