<div class="grid-container">
    <!-- header -->
    <app-header class="grid-container__header"></app-header>

    <!-- side menu -->
    <button class="grid-container__side-btn">></button>
    <app-sidenav class="grid-container__sidenav"></app-sidenav>

    <!-- main content cards -->
    <main class="main grid-container__main" id="main">
        <a routerLink="/form" class="main__add-widget-btn">Add widget</a>
        <section class="main__cards" id="main__cards">
            <div id="{{ 'column-' + (i + 1)  }}" *ngFor="let column of columns; let i = index"></div>
        </section>

        <!-- overview content at the bottom -->
        <app-overview></app-overview>

    </main>
</div>