<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>

<body>

    <div class="grid-container">

        <!-- header -->
        <header class="header grid-container__header">

            <div class="header__box header__nav">

                <div class="menu">
                    <button class='menu__header-btn'>
                  &#9776;
              </button>

                    <a routerLink="/dashboard" class="menu__top-menu1"><span>Home</span></a>
                    <a routerLink="/dashboard2" class="menu__top-menu2"><span>dashboard2</span></a>
                    <a routerLink="/dashboard2" class="menu__top-menu3"><span>dashboard2</span></a>
                    <a routerLink="/dashboard2" class="menu__top-menu4"><span>dashboard2</span></a>

                </div>

            </div>
            <div class="header__box header__search">
                <input type="text" placeholder="Search..">
                <span class="sprite header__avatar"></span>
            </div>
        </header>

        <!-- navigation side menu -->

        <button class='grid-container__side-btn'>></button>

        <aside class="sidenav grid-container__sidenav">
            <div class="sidenav__header"></div>
            <button class='sidenav__close-icon'>X</button>

            <ul class="sidenav__list">
                <a routerLink="/dashboard2" class="side-menu1">
                    <li class="sidenav__list-item">dashboard2</li>
                </a>
                <a routerLink="/dashboard2" class="side-menu2">
                    <li class="sidenav__list-item">dashboard2</li>
                </a>
                <a routerLink="/dashboard2" class="side-menu3">
                    <li class="sidenav__list-item">dashboard2</li>
                </a>
                <a routerLink="/dashboard2" class="side-menu4">
                    <li class="sidenav__list-item">dashboard2</li>
                </a>
                <a routerLink="/dashboard2" class="side-menu5">
                    <li class="sidenav__list-item">dashboard2</li>
                </a>
            </ul>
        </aside>


        <!-- main content cards -->

        <main class="main grid-container__main" id="main">

            <a routerLink="/form" class="main__add-widget-btn">Add widget</a>

            <section class="main__cards" id="main__cards">
                <!-- {{ displayWidget(widget) }} -->
                <div id="column-1" #column-1></div>
                <div id="column-2" #column-2></div>
                <div id="column-3" #column-3></div>
            </section>



            <!-- overview content at the bottom -->
            <app-overview></app-overview>


        </main>


    </div>

</body>

</html>