@media only screen and (max-width: 750px) {
    .menu a {
        display: none;
    }
    .hide-top-menu {
        display: inline-block;
    }
}

@media only screen and (min-width: 751px) {
    .main-cards {
        column-count: 2;
        column-gap: 20px;
        margin: 20px;
    }
    .card {
        break-inside: avoid-column;
        overflow: hidden;
        transform: translateZ(0);
    }
    .menu a {
        display: inline-block;
    }
    .menu span {
        display: none;
    }
    .hide-top-menu,
    .hide-side-menu-icon {
        display: none;
    }
    .sidenav {
        position: relative;
        transform: translateX(0);
        transition: 0s;
        position: fixed;
    }
    .sidenav-close-icon {
        visibility: hidden;
    }
    /*sticky header and main overlap when sidebar is fixed*/
    .header {
        margin-left: 150px;
    }
    .main {
        margin-left: 150px;
    }
}

@media only screen and (min-width: 1080px) {
    .main-cards {
        column-count: 3;
        column-gap: 20px;
        margin: 20px;
        max-height: 1000px;
    }
    .card {
        break-inside: avoid-column;
        overflow: hidden;
        transform: translateZ(0);
    }
    /* .card:nth-child(4) {
        height: 240px;
        max-height: 240px;
        margin-top: 80px;
    } */
    .menu a {
        display: inline-block;
    }
    .menu span {
        display: inline-block;
    }
    .hide-top-menu {
        display: none;
    }
}