<section class="card userList-card">
    <app-widget-header [widget]="widget"></app-widget-header>
    <!-- user list in table -->
    <div class="userList-card__container">
        <table class="userList-card__table">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            <tr *ngFor="let widgetData of widgetDataArray">
                <td>{{widgetData.id}}</td>
                <td>{{widgetData.firstName}}</td>
                <td>{{widgetData.lastName}}</td>
                <td>{{widgetData.userName}}</td>
            </tr>
        </table>
    </div>
</section>