/*grid*/

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "sidenav header" "sidenav main";
    height: 100hv;
}

.grid-container__header {
    grid-area: header;
}

.grid-container__sidenav {
    grid-area: sidenav;
}

.grid-container__main {
    grid-area: main;
}

.grid-container__side-btn {
    position: fixed;
    cursor: pointer;
    top: 50px;
    z-index: 1;
    border: 1px solid gray;
    background-color: #d4e6f7ce;
    margin-top: 10px;
    margin-right: 20px;
    height: 35px;
    width: 35px;
}


/*media*/

@media only screen and (min-width: 751px) {
    .grid-container__side-btn {
        display: none;
    }
}