<main class="main grid-container__main">
    <a routerLink="/form" class="main__add-widget-btn">Add widget</a>
    <section class="main__cards">

        <div class="{{ 'main__container-' + (i + 1)  }}" *ngFor="let widgets of widgetsGroupedByColumn; let i = index">
            <section *ngFor="let widget of widgets">
                <ng-container [ngSwitch]="widget.type">
                    <app-user-list-widget *ngSwitchCase="1" [widget]="widget"></app-user-list-widget>
                    <app-messages-widget *ngSwitchCase="2" [widget]="widget"></app-messages-widget>
                </ng-container>
            </section>
        </div>
    </section>

    <!-- overview content at the bottom -->
    <app-overview></app-overview>

</main>