body
{
    font-family: sans-serif;
    margin: 0;
	  padding: 0;
}


/*grid*/

.grid-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
  "sidenav header"
  "sidenav main"; 
  height: 100hv;
}

.header {
  grid-area: header;
  background-color: #5585a5;
}

.sidenav {
  grid-area: sidenav;
  background-color: #47527a;
}

.main {
  grid-area: main;
  background-color: #acd3d6;
 }




/* header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #5585a5;
}

.header_box {
    
    background-color: #d4e6f7;
    height: 100%;
  
}

.header_search{
  flex-basis: 32%;
  margin-left: 80px;
  max-height: 50px;
}

.header_nav{
  flex-basis: 45%;
  max-height: 50px;
}



/* Side navigation */

.sidenav {
    display: flex;
    flex-direction: column;
    /* grid-area: sidenav; */
    background-color: #48537c;
  }

  .sidenav_list {
    padding: 0px;
    margin-top: 0px; 
  }

  .sidenav_list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;

  }

  .sidenav_list-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    
  }

  .sidenav_header {
    height: 50px;
    background-color: #354375;
  }

/* for six cards in the main body */

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
}

@media only screen and (min-width: 750px){
.main-cards {
    column-count: 2;
    column-gap: 20px;
    margin: 20px;
  }
  
}

 @media only screen and (min-width: 1080px) {
 
  .main-cards {

    column-count: 3;
    column-gap: 20px;
    margin: 20px;
    max-height:1000px;  
    
   }

  .card {
    
    /* for Chrome and Edge*/
    break-inside: avoid-column; 
    /* for Firefox alternative page-break-inside: avoid;*/
    overflow: hidden;
    
  }


  .card:nth-child(4) {
    height: 240px;
    max-height: 240px;
    margin-top: 80px;
  }



 }

 .card:hover {
  background-color: #ffffff;
  transition: 0.2s;
}
  .card {
    background-color: #d4e6f7;
    margin-bottom: 20px;
  }

   .card:first-child {
    height: 490px;
    max-height: 490px;
    text-align: center;
    
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 245px;
    /*for image*/
    object-fit: cover;
    overflow: hidden;
  } 
  

  .card-image{
    max-height: 245px;
    /* allows repositioning */
    /* move the whole width of the image to the right */
    /* magic! */
    position: relative; 
    left: 500%;
    margin-left: -1000%;
    object-fit: cover;
    overflow: hidden;
   }



  .card-text{
    padding: 20px;
    font-size: 2vh;
    max-height: 245px;
  } 

  .card:nth-child(2) {
    height: 490px;
    max-height: 490px;
  
  }

  .card:nth-child(3) {
    height: 620px;
    max-height: 620px;
  }

  .card:nth-child(4) {
    height: 240px;
    max-height: 240px;
    
  }

  .card:nth-child(5) {
    height: 240px;
    max-height: 240px;
  }

  .card:nth-child(6) {
    height: 200px;
    max-height: 200px;
  }

  .card:nth-child(7) {
    height: 200px;
    max-height: 200px;
  }

  .card:nth-child(8) {
    height: 240px;
    max-height: 240px;
  }

  /* 4 small cards */
  .subcard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 240px;
    gap: 20px;
    

  }

 

  .subcard {
    display: flex;
    flex-direction: column;
    background-color: #d4e6f7;
    
    /* for Chrome and Edge */
    break-inside: avoid-column;
    /* for Firefox alternative to page-break-inside: avoid; */
    overflow: hidden;
    
    box-sizing: border-box;
    /* margin-bottom: 20px; */
    height: 110px;
    max-height: 110px;
  }

 
  .subcard:hover {
    
    background-color: #ffffff;
    transition: 0.2s;
  }

/* flex - four small rectangles at the bottom */
  .main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    grid-auto-rows: 95px;
    grid-gap: 20px;
    margin: 20px; 
  }
  
  
  .overviewcard {
    background-color:rgba(100, 124, 151, 0.178);
    max-height: 110px;
  }

  .overviewcard:hover {
    
    background-color: #ffffff;
    transition: 0.2s;
  }
