* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background-color: #acd3d6;
}

.container {
    padding: 0px;
    max-width: 500px;
}

#fields {
    background-color: rgba(100, 124, 151, 0.178);
}


/* Changing input fields */

input[type=text],
input[type=number],
#text-area,
#header-types,
#types {
    min-width: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background: #f1f1f1;
    outline: none;
}

#text-area {
    resize: none;
    margin-bottom: 0px;
}


/* Set a style for the add a widget button*/

#add-widget-btn {
    background-color: #3e779b;
    color: white;
    padding: 8px 10px;
    margin: 30px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}