<section class="main-overview">
    <button class="main-overview__card">
        <span class="sprite main-overview__card-icon"></span>
        <div class="main-overview__content main-overview--trunc-text">
            <div class="main-overview--trunc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </div> 
      </button>

    <button class="main-overview__card">
        <span class="sprite main-overview__card-icon"></span>
        <div class="main-overview__content main-overview--trunc-text">
            <div class="main-overview--trunc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </div>
      </button>

    <button class="main-overview__card">
        <span class="sprite main-overview__card-icon"></span>
        <div class="main-overview__content main-overview--trunc-text">
            <div class="main-overview--trunc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </div>
      </button>

    <button class="main-overview__card">
        <span class="sprite main-overview__card-icon"></span>
        <div class="main-overview__content main-overview--trunc-text">
            <div class="main-overview--trunc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </div>
      </button>
</section>