$lightTheme: rgba(100, 124, 151, 0.200);
$darkTheme: rgba(100, 124, 151, 0.700);
.widget-link {
    color: black;
    text-decoration: none;
    &__widget-header {
        display: flex;
        direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__widget-header>p {
        margin-left: 20px;
        font-weight: bold;
    }
    &__widget-header:hover {
        filter: brightness(75%);
    }
}


/* header color */

.light-theme {
    background-color: $lightTheme;
}

.dark-theme {
    background-color: $darkTheme;
}