.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #d4e6f7;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
}

.header__box {
    height: 100%;
}


/* header menu*/

.menu__header-btn {
    border: 1px solid gray;
    background-color: transparent;
    margin-top: 10px;
    margin-right: 20px;
    height: 25px;
    width: 25px;
}

.menu a {
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    margin-right: -4px;
}

.menu a:hover {
    background-color: rgba(173, 180, 219, 0.377);
    color: black;
}

.menu a:before {
    background-image: url(http://www.trenatics.com/public/images/iconfile/sprites/css-sprite/sprite-action-grey600.png);
}

.menu__top-menu1:before {
    background-position: 0 0;
    width: 33px;
    height: 25px;
    display: inline-block;
    content: "";
}

.menu__top-menu2:before {
    background-position: 0 -35px;
    width: 33px;
    height: 25px;
    display: inline-block;
    content: "";
}

.menu__top-menu3:before {
    background-position: 0 -70px;
    width: 33px;
    height: 25px;
    display: inline-block;
    content: "";
}

.menu__top-menu4:before {
    background-position: 0 -105px;
    width: 33px;
    height: 25px;
    display: inline-block;
    content: "";
}


/* top nav menu search*/

.header__search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    padding-right: 40px;
}

.header__search input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-color: white;
}

.header__avatar {
    background-position: 0 0px;
    width: 33px;
    height: 25px;
    display: inline-block;
    content: "";
    margin-top: -6px;
}

@media only screen and (max-width: 750px) {
    .menu a {
        display: none;
    }
    .menu__header-btn {
        display: inline-block;
    }
}

@media only screen and (min-width: 751px) {
    .menu a {
        display: inline-block;
    }
    .menu span {
        display: none;
    }
    .menu__header-btn {
        display: none;
    }
    .header__nav {
        margin-left: 150px;
    }
}

@media only screen and (min-width: 1080px) {
    .menu a {
        display: inline-block;
    }
    .menu span {
        display: inline-block;
    }
    .menu__header-btn {
        display: none;
    }
}