/* Adding details to widgets*/

.sprite {
    background-image: url("http://www.trenatics.com/public/images/iconfile/sprites/css-sprite/sprite-action-grey600.png");
}


/*card chat*/

.form-container__textarea {
    width: 99%;
    resize: none;
    height: 100px;
}

.form-container__btn-send {
    background-color: #5585a5;
    color: white;
    width: 100%;
    padding: 6px;
    opacity: 0.8;
}

.btn-container {
    margin-right: 15px;
}

.btn-container__send-icon {
    background: url(../images/24_send.png);
    display: inline-block;
    object-fit: none;
    background-position: -27px -5px;
    width: 25px;
    height: 15px;
}

.btn-container__send-text {
    width: 100%;
    margin-left: 10px;
}

.form-container__btn-send {
    cursor: pointer;
}

.form-container__btn-send:hover {
    opacity: 1;
    background-color: #507e9c;
}

.form-container__btn-send:hover span {
    background-position: -85px -5px;
}

.chat-log__chat-message-author {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.chat-log {
    padding: 20px;
    font-size: 14px;
    overflow: auto;
    min-height: 300px;
    max-height: 300px;
}

.chat-log__chat-message {
    display: flex;
    align-items: space-around;
    text-align: left;
}

.chat-log__chat-message p {
    width: 100%;
    display: inline-block;
}

.chat-log__chat-message-right {
    flex-direction: row-reverse;
}


/*table*/

.userList-card {
    break-inside: avoid;
    overflow: auto;
}

#userList-container {
    overflow-x: auto;
}

.userList-container__table {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.userList-container__table th,
.userList-container__table td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


/* card headers for settings icon, and subcard headers*/

.widget-link {
    color: inherit;
    text-decoration: inherit;
}

.widget-link__widget-header {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.widget-link__widget-header>p {
    margin-left: 20px;
    font-weight: bold;
}

.widget-link__widget-header:hover {
    /* background-color: #b6d0e9; */
    filter: brightness(75%);
}


/* four buttons at the bottom and their contents*/

.main-overview__card {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-overview__card-icon {
    display: block;
    object-fit: none;
    background-position: -335px -105px;
    width: 33px;
    height: 25px;
}

.main-overview__content div {
    margin-bottom: 0;
    font-weight: bold;
    font-size: larger;
}

.main-overview__content {
    width: 100px;
    text-align: right;
}

.main-overview--trunc-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* header menu*/

.menu__header-btn {
    border: 1px solid gray;
    background-color: transparent;
    margin-top: 10px;
    margin-right: 20px;
    height: 25px;
    width: 25px;
    /* display: inline-block; */
}

.menu a {
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    margin-right: -4px;
}

.menu a:hover {
    background-color: rgba(173, 180, 219, 0.377);
    color: black;
}

.menu a:before {
    background-image: url(http://www.trenatics.com/public/images/iconfile/sprites/css-sprite/sprite-action-grey600.png);
}

.menu__top-menu1:before {
    background-position: 0 0;
    width: 33px;
    height: 25px;
    display: inline-block;
    content: "";
}

.menu__top-menu2:before {
    background-position: 0 -35px;
    width: 33px;
    height: 25px;
    display: inline-block;
    content: "";
}

.menu__top-menu3:before {
    background-position: 0 -70px;
    width: 33px;
    height: 25px;
    display: inline-block;
    content: "";
}

.menu__top-menu4:before {
    background-position: 0 -105px;
    width: 33px;
    height: 25px;
    display: inline-block;
    content: "";
}


/* top nav menu search*/

.header__search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    padding-right: 20px;
}

.header__search input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-color: white;
}

.header__avatar {
    background-position: 0 0px;
    width: 33px;
    height: 25px;
    display: inline-block;
    content: "";
    margin-top: -6px;
}