body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #acd3d6;
}


/*grid*/

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "sidenav header" "sidenav main";
    height: 100hv;
}

.header {
    grid-area: header;
    /* background-color: #5585a5; */
    background-color: #d4e6f7ce;
}

.sidenav {
    grid-area: sidenav;
    background-color: #47527a;
}

.main {
    grid-area: main;
    background-color: #acd3d6;
}


/* header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #d4e6f7;
    /*sticky background*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header_box {
    background-color: #d4e6f7;
    height: 100%;
}

.header_search {
    max-height: 50px;
}

.header_nav {
    max-height: 50px;
}


/* Side navigation */

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 150px;
    position: fixed;
    overflow-y: auto;
    z-index: 2;
    transform: translateX(-150px);
    transition: all .6s ease-in-out;
}

.sidenav_list {
    padding: 0px;
    margin-top: 0px;
}

.sidenav_list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
}

.sidenav_list a {
    text-decoration: none;
}

.sidenav_list-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidenav_header {
    height: 50px;
    background-color: #354375;
}

.grid-container__side-btn {
    position: fixed;
    cursor: pointer;
    top: 50px;
    z-index: 1;
    border: 1px solid gray;
    background-color: #d4e6f7ce;
    margin-top: 10px;
    margin-right: 20px;
    height: 35px;
    width: 35px;
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
}


/* for six cards in the main body */

.main__cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
}

.card {
    background-color: #d4e6f7;
    background-image: linear-gradient(#d4e6f7, #ffffff);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    transform: translateZ(0);
}

.card:hover {
    transform: scale(1.05);
    transition: 0.2s;
}


/*card1*/

.card:first-child {
    max-height: 490px;
    text-align: center;
}

.card:nth-child(2) {
    max-height: 300px;
    /* overflow: hidden; */
}

.card:nth-child(3) {
    max-height: 240px;
}

.card:nth-child(4) {
    max-height: 240px;
}

.card:nth-child(5) {
    max-height: 240px;
}


/* 4 small cards */

.subcard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 240px;
    gap: 20px;
}

.subcard {
    display: flex;
    flex-direction: column;
    background-color: #d4e6f7;
    background-image: linear-gradient(#d4e6f7, #ffffff);
    break-inside: avoid-column;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 110px;
    max-height: 110px;
}

.subcard:hover {
    transform: scale(1.05);
    transition: 0.2s;
}


/* four small rectangles at the bottom */

.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    grid-auto-rows: 95px;
    grid-gap: 20px;
    margin: 20px;
}

.overview-card {
    background-color: rgba(100, 124, 151, 0.178);
    background: linear-gradient(rgba(100, 124, 151, 0.178), #ffffff);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    max-height: 110px;
    /*for the content*/
    display: flex;
    justify-content: center;
}

.overview-card:hover {
    transform: scale(1.05);
    transition: 0.2s;
}


/* Adding details to widgets*/


/*table*/

th,
td {
    padding-left: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.table-container {
    overflow: auto;
}

table {
    width: 100%;
}